.wrap-table{
  background: white;
  /* border-radius: 33px; */
  /* position: relative; */
  border-radius: 5px;
  padding: 5px;
}
.wrap-show-entries{
  display: flex;
  height: 27px;
  align-items: center;

     justify-content: space-between;
}

td{
  padding-right:  18px;
  padding-left:  18px;
}

th{
  padding: 10px 18px;
}

table{
    border-collapse: collapse;
    width: 100%;
    
  }
  
  .tr-table:nth-child(even) {
    
    background-color: #f9f9f9;
  
  }
  
  table thead th{
    padding: 10px 18px;
      border-bottom: 1px solid #111;
  }
  .td-table{
    border-bottom: 1px solid #ddd;
    padding: 8px 10px;
  }
  
  .tr-table:last-child {
    
    border-bottom: none ;
  
  }
  .tr-table{
   
    padding: 8px 10px;
    
  }
  
  
  
  
  .show-entries{
    display: flex;
    flex-direction: row;
    height: 24px;
    align-items: center;
  }
  
  .input-search-table{
    display: flex;
    flex-direction: row;
    /* height: 14px; */
    align-items: center;
    /* position: absolute;
    right: 21px;
    top: 24px; */
  }
  
  .header-table{
    display: flex;
    justify-content: space-between;
    width: 920px;
  }

  .main-nav-logo{
    min-width: 194px;
    max-width: 80px;
    height: 50px;
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    text-decoration: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
    
  }

  .search-table{
    color: white;
  }

  .p-main-nav{
    margin-top: 18px;
  }
  
  .result-table{
    text-align: center;
  }

  .dropdown-entries{
    display: flex;

    align-items: center;
    margin-left: 8px;
  }

  .wrap-no-user
{
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  }

